<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
      }
</style>
    <title>Video Player</title>
    <script>
      function updateProgress() {
        var video = document.getElementById("video");
        var progress = document.getElementById("progress");
<!--        progress.value = (video.currentTime / video.duration);-->
        setTimeout(updateProgress, 500);
      }
    </script>
  </head>
  <body onload="updateProgress()">
    <video id="video" controls autoplay width="640" height="480">
      <source src="{{ url_for('serve_video', video_dir=video_name) }}" type="video/mp4">
    </video>
    <br>
  <label for="jump-time">Jump to time (in seconds):</label>
  <input type="number" id="jump-time" min="0" step="1">
  <button onclick="jumpToTime()">Go</button>
  <table>
    {% for title in titles %}
        <th>{{ title }}</th>
    {% endfor %}
    {% for index, row in table.iterrows() %}
        <tr>
            {% for val in range(row.array|length) %}
              {% if val == start_time_col_num %}
                <td onclick=jumpTo({{row.array[val]}}) style="color:blue;">{{ row.array[val] }}</td>
              {% else %}
                <td>{{ row.array[val] }}</td>
              {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
  </table>
  <script>
    var video = document.getElementById("video");
    var jumpTimeInput = document.getElementById("jump-time");
    function jumpToTime() {
      video.currentTime = jumpTimeInput.value;
    }
    function jumpTo(time) {
      video.currentTime = time;
    }
  </script>
  </body>
</html>
