<!DOCTYPE html>
<html>
   <body>
      <h1>Browse Video using CSV Data</h1>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <label for="video_path_id" style="font-size:20px;">Select the input video</label><br>
         <input type = "file" id="video_path_id" name = "video_path" style="border-style:solid;"/><br>
         <label for="csv_file_path_id" style="font-size:20px;">Select the csv file containing video info</label><br>
         <input type = "file" id="csv_file_path_id" name = "csv_file_path" style="border-style:solid;"/><br>
         <br>
         <input type = "submit" id="submit-button" value="Upload" style="width: 200px; height: 50px;"/>
      </form>
   </body>
</html>